### Vim ### 
*.swp

### Emacs ###
*~


### LaTex ###
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.snm
*.toc
*.vrb
*.nav
*.out
_minted-assignment/

### Elixir ###
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam

### Elixir Patch ###
### Erlang ###
.eunit
deps
*.o
*.plt
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar

## PPM image files
*.ppm


