### Vim ### 
*.swp

### Emacs ###
*~


### LaTex ###
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.snm
*.toc
*.vrb
*.nav
*.out
_minted-assignment/

### Elixir ###
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam

### Elixir Patch ###
### Erlang ###
.eunit
deps
*.o
*.plt
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar

## PPM image files
*.ppm

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


